/* Các CSS này dành cho toàn bộ website và desktop */
body {
    background: #fff;
    color: 333;
}
/* Dành cho điện thoại */
@media all and (max-width: 480px) {
}
/* Dành cho máy tính bảng */
@media all and (max-width: 1024px) {
}
.dinhdang{
    width: 480px;
    height: auto;
}
.style-banner{
    width: auto;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.style-banner a{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}
#avatar{
    width: auto;
    height: 45px;
    border-radius: 100%;
    margin-left: 30px;
}
.kedoc{
    width: 2px;
    height: 30px;
    background-color: #fff;
    margin-left: 40px;
}
.text{
    width: auto;
    color: #fff;
    font-size: 20px;
    margin-left: 5px;
}
.style-logo{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}
.style-logo img{
    width: auto;
    height: 30px;
    margin-left: 20px;
}
.style-body-1{
    width: auto;
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.content{
    font-size: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content h2{
    text-align: center;
    font-size: 35px;
}
.content img{
    height: 300px;
}